.container-body{
    min-height: calc(100vh - 100px);
    width: 100%;
      background-color: rgb(149, 172, 150);  
     /* background-image: url(logo.web.png);  */
   display: flex;
   justify-content: center;
   align-items: center;
}
.container-telaCadastro{
    height: 500px;
    width: 400px;
    background-color: rgb(14, 167, 83);
     display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border: 1px solid black;
    border-radius: 10px;
}


input{
    height: 40px;
    width: 250px;
    outline: none;
}

button{
     height: 40px;
    width: 250px;
}

        
label{
display: block;
    font-size: 20px;
}

::placeholder{ 
    padding: 18px;
}