.container-header{
    height:100px;
    width: 100%;
   display: flex;
   justify-content: space-between;
   align-items: center;
   /*background-color: rgb(247, 250, 247);*/
   
    
}

 .logo-titulo, .espaco-link{ 
   height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  gap: 10px;
   
}
.espaco-link{
    margin-right: 38px;
}
    
    img{
        height: 100px;
    }

   

    